#userInput{
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    font-size: 50px;
    color: red;
    filter: drop-shadow(0 0 10px white);
    padding-bottom: 8vh;
}

#userInput input{
    height: 5vh;
    font-size: 18px;
    text-align: center;
    width: 60vw;
}

#userInput button{
    background-color: rgb(204, 200, 200);
    border: none;
    color: rgb(19, 19, 19);

    text-transform: uppercase;
    display: inline-block;
    font-family: 'Montserrat', sans-serif;
    font-size: 16px;
    font-weight: bold;
    text-decoration: none;  
    user-select: none;
    letter-spacing: 1.5px;
    padding: 20px 10px; 
    
    cursor: pointer;
}

#inputField{
    padding-bottom: 5vh;
}

#userInput button:hover {
    background-color: rgb(163, 161, 161);
    transition-duration:0.4s;
}

#userOptions{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    flex-wrap: wrap;
}

#userOptions .buttonContainer{
    width:50vw;
}

#userOptions .buttonContainer button{
    width:100%;
}

.choiceButton-selected{
    background-color: rgb(141, 233, 136) !important;
    cursor: auto !important;
}

#answerSummary{
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
}

#answerSummary h2{
    color:rgb(55, 20, 124);
}

#answerSummary #answerSummaryQuestion{
    padding-top:2vh;
    padding-bottom:2vh;
}

#answerSummary #answerSummaryQuestion div{
    color: rgb(98, 12, 126);
}

#answerSummaryContainer{
    display: flex;
    align-items: center;
    flex-direction: column;

    margin-right: auto;
    margin-left: auto;
    padding-bottom: 5vh;
}

#answerSummary .answerSummaryAnswer{
    display: flex;
    align-items: center;
    flex-direction: column;
    padding-top: 2vh;
    padding-bottom: 1vh;
    text-align: center;
}

#answerSummary .answerSummaryAnswer span:nth-child(1){
    font-size: 20px;
    color:rgb(202, 56, 142);
    padding-bottom:10px;
}

#answerSummary .answerSummaryAnswer span:nth-child(2){
    font-size: 25px;
    color:rgb(255, 255, 255);
    padding-bottom:10px;
}

#answerSummaryButtons{
    display: flex;
    align-items: center;
}

#answerSummaryButtons span{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: auto;
    margin-left: auto;
    width: 30vh;
}

#answerSummary button{
    
    width:80%;
    background-color: rgb(240, 235, 235);
    border: none;
    color: rgb(19, 19, 19);
    text-transform: uppercase;
    display: inline-block;
    font-family: 'Montserrat', sans-serif;
    font-size: 14px;
    font-weight: 100;
    text-decoration: none;  
    user-select: none;
    letter-spacing: 1.5px;
    padding: 20px 10px; 
    
    cursor: pointer;
}

#answerSummary button:disabled{    
    background-color: rgb(135, 202, 118);
    font-size: 12px;
    
    cursor:auto;
}

#answerSummary button:hover:enabled{
    background-color: rgb(163, 161, 161);
    transition-duration:0.4s;
}



@media (max-width: 910px) {
    #answerSummaryButtons{
        flex-direction: column;
        justify-content: space-between;
        width:100vw;        
    }
    
    #answerSummaryButtons span{
        width:60vw;
        padding-top: 1vh;
        padding-bottom: 1vh;
    }    
}

@media (max-height: 668px) {
        
    #answerSummary h2{
        color:rgb(55, 20, 124);
        font-size: 20px;
    }
    
    #answerSummary #answerSummaryQuestion{
        padding-top:1vh;
    }
    
    #answerSummaryContainer{
        padding-bottom: 2vh;
    }
    
    #answerSummary .answerSummaryAnswer{
        padding-top: 0vh;
    }
    
    #answerSummary .answerSummaryAnswer span:nth-child(1){
        font-size: 17px;
    }
    
    #answerSummary .answerSummaryAnswer span:nth-child(2){
        font-size: 22px;
    }
        
    #answerSummaryButtons span{
        width: 40vh;
    }

    #userOptions .buttonContainer{
        font-size:0px;
        width:75vw;
        padding-top:7px;
        padding-bottom:7px;
    }
    
    #userOptions .buttonContainer button{
        font-size:14px;
        width:100%;
        padding: 15px 0px;
    }
}