

#roomFlex {
    display:flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    height: 80vh;
    
    filter: drop-shadow(0 0 10px white);
}

.joinText {
    font-family: monaShark;
    text-transform: uppercase;
    color:rgb(61, 30, 121);
    background: black;
    background-clip: text;
}

.joinText #textSmall{
    font-size:35px;
}

#joinText1, #joinText3{
    /* width:20vw; */
    font-size:60px;
}

#joinText3{
    padding-bottom: 10vh;
}

#joinText2 {
    /* width:15vw; */
    font-size:150px;
    color:rgb(101, 47, 187);
}

#joinTextRoom{
    /* width:12vw; */
    font-size:45px;
    color:rgb(52, 184, 208);
}

#codeInput{
    font-size: 20px;
    color: rgb(37, 92, 130);
    text-align: center;
    height:35px;
    width:190px;    
}

#joinSubmitForm{
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#joinSubmitForm div{
    padding-bottom:1.5vh;
    width:75%;
    height:1.6vh;
}


#joinSubmitForm div label{
    color:rgb(8, 16, 130);
    font-size: 15px;
}

#joinSubmitForm button{
    background-color: rgb(240, 235, 235);
    border: none;
    color: rgb(19, 19, 19);
    text-transform: uppercase;
    display: inline-block;
    font-family: 'Montserrat', sans-serif;
    font-size: 14px;
    font-weight: bold;
    text-decoration: none;  
    user-select: none;
    letter-spacing: 1.5px;
    padding: 20px 10px; 
    width:100%;
    
    cursor: pointer;
}


.selected {
    background-color: rgb(218, 150, 62);
}

@media (max-width: 568px) {
    #roomFlex {
        display:flex;
        align-items: center;
        flex-direction: column;
        justify-content: center;
        height: 80vh;
    }
    
    #title {
        color: red;   
        font-size: 60px;
        
        padding-bottom:15vh;
    }
    
    #roomCode {
        color: rgb(202, 204, 54);    
        font-size: 32px;
        padding-bottom:1vh;
    }
    
    #codeInput{
        height:28px;
        width:170px;
    }
    
    .joinText #textSmall{
        font-size:30px;
    }
    
    #joinText1, #joinText3{
        font-size:50px;
    }
    
    #joinText3{
        padding-bottom: 10vh;
    }
    
    #joinText2 {
        font-size:90px;
    }
    
    #joinTextRoom{
        font-size:35px;
    }
}