@font-face {
    font-family: monaShark;
    src: url('../fonts/MonaShark.otf');
  }

  @font-face {
    font-family: naturalMarker;
    src: url('../fonts/Natural\ Marker.otf');
  }


body{    
    overflow: hidden;
}