#background {
    color: rgb(218, 215, 215);
    font-family: naturalMarker;
    text-transform: uppercase;
    color:rgb(61, 30, 121);
    background: none;
    overflow: hidden;
    filter: none;
    height: 100vh;
    overflow: hidden;
    display:flex;
    flex-direction: column;
}

.absolute{
    position: absolute;
    overflow: hidden;
    width:100vw;
    height:100vh;
    pointer-events: none;
}

#notFound {
    height: 90vh;
    display: flex;
    align-items: center;
    justify-content: center;
    color: rgb(172, 24, 24);
    font-size: 50px;
        
    flex-direction: column;

    filter: drop-shadow(0 0 20px white);
}

#roundHeaderContainer{
    display: flex;
    text-align: center;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin-left: auto;
    margin-right:auto;
    padding-top:10vh;
    
    filter: drop-shadow(0 0 10px white);
}

#roundHeader {
    color: red;
    font-size: 60px;
    padding-bottom: 3vh;
    padding-bottom:10vh;
} 

#roundSubHeader {
    color: rgb(211, 7, 7);
    font-size: 40px;
    padding-bottom: 5vh;
    padding-bottom:30vh;
} 

#notFoundReturn{
    font-size: 30px;
    color:rgb(95, 15, 106);
    padding-top: 100px;
}

#notFoundReturn span:hover{   
    color:rgb(136, 30, 150);
}

@media (max-width: 568px) {
    #roundHeader {
        font-size: 50px;
        padding-bottom: 8vh;
    } 
    
    #roundSubHeader {
        font-size: 35px;
        padding-bottom: 5vh;
    }     
}
